<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">
                <div class="row">
                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-9" id="vocabulary-listing-medium">


                        <h2> LiPDverse controlled vocabularies</h2>

                        LiPDverse uses controlled vocabularies for several of the most important variables. These pages show the accepted terms, their definitions, synonyms and how they're linked with NOAA's PaST Thesaurus. This is an evolving process, and not every appropriate option is available. If you think we're missing a term, the process for adding entries to the controlled vocabulary is explained here. 

                        {{ $paginator := .Paginate (where .Data.Pages "Type" "vocabulary") }}
                        {{ range $paginator.Pages }}
                        <section class="post">
                            <div class="row">

                                <div class="col-md-8">
                                    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                                    <p class="intro">{{ .Summary }}</p>
                                    
                                </div>
                            </div>
                        </section>
                        {{ end }}

                        <ul class="pager">
                            {{ if .Paginator.HasPrev }}
                            <li class="previous"><a href="{{ .Paginator.Prev.URL | relURL }}">&larr; {{ i18n "newer" }}</a></li>
                            {{ else }}
                            <li class="previous disabled"><a href="#">&larr; {{ i18n "newer" }}</a></li>
                            {{ end }}

                            {{ if .Paginator.HasNext }}
                            <li class="next"><a href="{{ .Paginator.Next.URL | relURL }}">{{ i18n "older" }} &rarr;</a></li>
                            {{ else }}
                            <li class="next disabled"><a href="#">{{ i18n "older" }} &rarr;</a></li>
                            {{ end }}
                        </ul>
                    </div>
                    
                    
                    <!-- /.col-md-9 -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN ***
       _________________________________________________________ -->

                    <div class="col-md-3">

                        <!-- *** MENUS AND WIDGETS *** -->

                        <!-- {{ partial "sidebar.html" . }} -->

                        <!-- *** MENUS AND FILTERS END *** -->

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
